# ===== .NET / Visual Studio =====
bin/
obj/
.vs/
*.user
*.suo
*.rsuser
publish/
appsettings.Development.json

# ===== Misc =====
.env
.env.local

# ===== Android =====
.gradle/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks

# ===== IDEs =====
.idea/
*.iml
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini
EAD_SE4040_Assignment_2026.md
web/SolarGrid.Web/Views/Stations/Index.cshtml
web/SolarGrid.Web/Views/Stations/Create.cshtml
